form{
    padding: 80px 100px 0px 100px;

}
input,select{
    background-color: rgba(0, 255, 255, 0);
   border-color: cadetblue;
   border-style: solid;
   margin-top: 30px;
}
.error{
	color : red;
}