/*navbar and fonts*/
a {
    color: black;
    text-decoration: none;
    }
  p{
    font-family: 'Segoe UI light';
    text-align: center;
    
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   margin-right: 10px;
    background-color: #3d9b41;
   position: fixed;
   top: 0px;left: 0px;
   width: 100%;
   z-index: 100;
   height: 60px;
  }
    
    li {
      float: right;
      font-family: 'Verdana regular';
     
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px 16px 20px 16px;
      text-decoration: none; 
    }
    .logo{
      position: fixed;
      top: 0px;left: 0px;
      color: rgb(255, 255, 255);
      text-align: center;
      height: auto;
      width: auto;
      margin-left: 568.53px;
      font-size: 40px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bolder;
      z-index: 101;
  
    }
    
    li a:hover {
      background-color: #187c39;
      z-index: 102;
      transition: 0.3s;
  
    }
    .everything{
        padding-left: 101.66;
        padding-right: 101.66px;
    }
  
    body{
        margin: 0px;
        background-image:linear-gradient(rgb(0, 255, 0,0.2)	,rgb(19, 236, 19,0.3),rgba(0, 128, 0, 0.116));
    }
  
    .logo:hover{
      cursor: default;
    }
    
    /* size and props of cards*/
   
   
    .overlay1,.overlay2,.overlay3,.overlay4,.overlay6{
      width:235px;
      height: 140px;
     transition: 0.6s;
      opacity: 0;    
      z-index: 3;
    }
    .overlay5{
      transition: 0.6s;
      opacity: 0;    
      z-index: 3;
      position: absolute;
      top: 100px;
      left: 101.6px;
      height: 300px;
      width: 568px;
    }
    .overlay1:hover,.overlay2:hover,.overlay3:hover,.overlay4:hover,.overlay5:hover{
      background-color: rgb(59, 97, 59);
      opacity: 0.75;
      color: azure;
      
    }
    .ohfuckshit{
      position:relative;
     width: 235px;
    height: 140px;
     box-shadow: 0 4px 8px 0 rgba(0, 17, 3, 0.4);
     z-index: 2;
  
    
    }

    h4{
      font-size: 20px;
      font-family: 'Verdana regular';
      text-align: center;
      vertical-align: middle;
        margin-top: 58px;
      }

      .RENDI{
         margin-top: 140PX;
      }
  
  /*positon of cards*/
  
  .overlay1,.img1{
    position: absolute;
    top: 100px;
    right: 356.66px;
  }
  .overlay2,.img2{
    position: absolute;
    right:101.66;
    top: 100px;
  
  }
  .overlay3,.img3{
    position: absolute;
    top: 260px;
    right: 356.66px;
  }
  .overlay4,.img4{
    position: absolute;
    top: 260px;
    right: 101.6px;
  
  }
  
  
  .img5{
    position: absolute;
    top: 100px;
    left: 101.6px;
    height: 300px;
    width: 500px;
  }

  .img6{
    position: absolute;
    top: 100px;
    left: 385.6px;
    height: 300px;
    width: 283px;

  }
  
  .footer{
    position: relative;
  top: 1140px;
  }
  
  .pointer{
    cursor: pointer;
  }
  